<div class='default_fields'>
  <%= f.input :elevator_pitch, as: :integer unless @project.overview.elevator_pitch == '#removed' %>
  <%= f.input :value_proposition, placeholder: 'Enter value here...' unless @project.overview.value_proposition == '#removed' %>
  <%= f.input :internal_motivations unless @project.overview.internal_motivations == '#removed' %>
</div>

<%= render partial: 'data_fields', locals: { df: f, project: @project, project_model: :overview } %>

<%= f.label :file_url, "Upload General Files" %>
<%= f.filepicker_field :file_url, :dragdrop => 'true', :button_class => 'btn' %>
