<% [:elevator_pitch, :value_proposition, :internal_motivations].each do |field| %>
  <% unless @project.overview.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.overview.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.overview.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value%>
  </div>
  <br />
<% end %>

<div>
  <p>Attachments</p>
  <%= filepicker_save_button "Download", project.overview.file_url, "image/png" %></tr>
</div>
<br>
<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-success' %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :overview } %>
