<% if can? :edit, @project %>
  <hr>
  <div>
    <fieldset>
      <legend>Comments</legend>

      <div class="span6">
        <% @project.send(nested).root_comments.each do |comment| %>
        <blockquote>
          <p><%= comment.body %></p>
          <small><%="#{comment.user.name} (#{comment.user.email})"%></small>
        </blockquote>
        <% end %>
        <%= simple_form_for(@project, url: project_comments_path(@project)) do |f| %>
          <div class="control-group">
            <div class="controls">
              <%= text_area_tag :body, nil, placeholder: "Write your comment here...", class: 'span6' %>
            </div>
          </div>

          <%= hidden_field_tag 'model', nested %>

          <div class="form-actions">
            <%= submit_tag "Send", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
<% end %>
