<%= simple_form_for(@project, url: project_comments_path(@project), html: { class: 'form-horizontal active-table-form' }) do |f| %>
<fieldset>
  <legend>Comments</legend>

  <div class="control-group">
    <%= label_tag :subject %>
    <div class="controls">
      <%= text_field_tag :subject %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :body %>
    <div class="controls">
      <%= text_area_tag :body %>
    </div>
  </div>

  <%= hidden_field_tag 'model', nested %>

  <div class="form-actions">
    <%= submit_tag "Send", class: 'btn btn-primary' %>
  </div>
<% end %>
