<% [:what_went_well, :what_could_have_gone_better, :what_surprised_you, :lesson_learned].each do |field| %>
  <% unless @project.rollout.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.rollout.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.rollout.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value %>
  </div>
  <br />
<% end %>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-success' %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :rollout } %>
