<% [:payment_processing_method, :billing_process_steps, :billing_update_requirements, :contract_requirements].each do |field| %>
  <% unless @project.billing.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.billing.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.billing.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value%>
  </div>
  <br />
<% end %>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :id => 'edit_project_button', :class => 'btn btn-success' %>
<% end %><br>
<br>
<%= render partial: 'comments/form', locals: { project: @project, nested: :billing } %>
