<% [:external_messaging, :internal_messaging, :marketing_budget, :alpha_invite_email, :beta_invite_email].each do |field| %>
  <% unless @project.marketing.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.marketing.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.marketing.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value%>
  </div>
  <br />
<% end %>

	<p>Marketing Materials</p>
  <%= filepicker_save_button "Download Attachments", project.marketing.file_url, "image/png", :class => 'btn btn' %></br>
  <br>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :id => 'edit_project_button', :class => 'btn btn-success' %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :marketing } %>
