<% unless @project.test_client.description == '#removed' %>
  <div>
    <p>Description</p>
    <p><%= @project.test_client.description %></p>
  </div>
  <br>
<% end %>

<% @project.test_client.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value%>
  </div>
  <br />
<% end %>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :test_client } %>

