<div class='clearfix attributeContainer <%= project_model.to_s %>Container'>
  <%= df.simple_fields_for :data do |d| %>
    <% @project.send(project_model).data.try(:each) do |key, value| %>
        <div class="row">
          <p class='span4'>
            <%= text_field_tag key, key, :class => 'text_field dynamicAttributeName span2' %>
          </p>
          <p class='span4'>
            <%= d.text_area key, :class => 'text_field span4', :value => value, style: 'resize:none' %>
          </p>
          <p class='span2'><a herf='#' class='btn btn-link removeRow'><span class="icon-remove"></span></a></p>
        </div>
    <% end %>
  <% end %>

  <div class='row attributeTemplate hide'>
    <p id="dynamicLabel">
      <input class='span5 text_field dynamicAttributeName' id='dynamic_text' name='' placeholder='Label' size='30' type='text' />
    </p>
    <p id="dynamicText"><textarea class="text_field" cols="40" id="dynamic_text" name="" placeholder='Add field value here...' rows="20" style="resize:none"></textarea>
    <a herf='#' class='btn btn-link removeRow'><span class="icon-remove"></span></a></p>
  </div>
  <%= link_to 'Add new field', '#', :class => 'btn btn-link addAttribute btn-primary' %>
</div>
<br>

<script type='text/javascript'>
   $('.<%= project_model.to_s %>Container').delegate('.dynamicAttributeName', 'keyup', function(event){
     nameElem  = $(this);
     model = '<%= project_model.to_s %>'
     valueElem = nameElem.closest('.row').children('p').children('.text_field')
     value     = nameElem.val().toLowerCase();
     valueElem.attr('id',          'project' + value       );
     valueElem.attr('name',        'project[' + model + '_attributes][data][' + value + ']');
   })
</script>
