<h1>Projects</h1>

<div id='projects_list'>
  <ul class='unstyled'>
    <%= render @projects %>
  </ul>
</div>

<br>

<% if can? :create, current_user %>
  <%= link_to 'New Project', new_project_path, id: "new_project_link", remote: true %>
<% end %>

<p><%= @projects_info %></p>
<p><%= @trial_info %></p>
<% if @show %>
  <p><%= link_to "Upgrade your account", edit_user_subscription_path(current_user, current_user.current_subscription) %>
<% end %>

<div id='collaborations_projects_list'>
  <ul class='unstyled'>
    <% @collaborations.each do |cp| %>
      <li>
        <span class="label label-important">Collaborator</span>
        <strong><%= link_to cp.project.title, cp.project %></strong>
      </li>
    <% end %>
  </ul>
</div>
