<h1>Projects</h1>

<div id='projects_list'>
  <ul class='unstyled'>
    <%= render @projects %>
  </ul>
</div>

<br>

<% if can? :create, current_user %>
  <%= link_to 'New Project', new_project_path, id: "new_project_link", remote: true %>
<% end %>

<p><%= @projects_info %></p>
<p><%= @trial_info %></p>
<% if @show %>
  <p><%= link_to "Upgrade your account", edit_user_registration_path %>
<% end %>
