<h1>Projects</h1>

<% unless @projects.empty? %>
  <table class='table table-striped projects_list'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @projects %>
    </tbody>
  </table>
<% end %>
<br>

<% if can? :create, current_user %>
  <%= link_to 'New Project', new_project_path, id: "new_project_link", remote: true %>
<% end %>

<p><%= @projects_info %></p>
<p><%= @trial_info %></p>
<% if @show %>
  <p><%= link_to "Upgrade your account", edit_user_subscription_path(current_user, current_user.subscription) %>
<% end %>
<br>
<%= link_to 'Archives', archives_path %>
<br>

<% unless @collaborations.empty? %>
  <div id='collaborations_projects_list'>
    <table class='table table-striped projects_list'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Actions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @collaborations.each do |project| %>
          <tr>
            <td><%= link_to project.title, project %></td>
            <td>
              <%= link_to "Show", project_path(project), class: 'btn btn-mini' %>
            </td>
            <td><span class="label label-important">Collaborator</span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
