<div class='inline'>
  <h3>Your Project List
  <% if can? :create, current_user %>
    <%= link_to new_project_path, :class => 'btn btn-success pull-right', id: "new_project_link", remote: true do %>
      <i class='icon-plus icon-white'></i> Create a New Project
    <% end %>
  <% end %></h3>
</div>
<br> 
<div>

<!--- Need a method to display projects that users have been invited to but not created -->

  <% @projects.each do |project| %> 
      <div id='project_container' style='padding:20px'>
        <span><h4><%= link_to project.title, project %></h4><p>Project collaborators: <%= project.  collaborations.count %></p></span>
        <span>  
          <%= truncate(project.overview.elevator_pitch, :ommision => "...", :length => 100) %>
          <span style='float:right'>  
            <%= link_to "Archive", project_archive_path(project) %> | 
            <%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?'} %>
          </span>
        </span>
      </div> 
      <br> 
  <% end %> 
</div>  
<br>
<hr>
<ul class="inline" align="center">
  <li><%= @projects_info %></li>
  <li><%= @trial_info %></li>
  <% if @show %>
    <li><%= link_to "Upgrade your account", edit_user_subscription_path(current_user, current_user.subscription), :class => 'btn btn-info', :id => 'upgrade_from_projects'  %>
  <% end %>
  <li><%= link_to 'Archives', archives_path %></li>
</ul>