<h1>Project Settings</h1>

<%= simple_form_for @project, html: { class: 'form-horizontal active-table-form' } do |f| %>
  <%= f.input :title %>
  <% if @jira_client.present? %>
    <%= f.input :jira_project_key, label: 'JIRA Project Key', collection: @jira_client.Project.all, value_method: :key %>
  <% end %>

  <div class='form-actions'>
    <%= f.submit 'Change', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', project_path(@project), class: 'btn' %>
  </div>
<% end %>
