<p>
  <b><%= @project.title %></b>
  |
  <%= link_to 'Change Name', edit_project_path(@project) %>
  |
  <%= link_to 'Delete Project', @projects, method: :delete, data: { confirm: 'Are you sure?'} %>

<div class='tabbable tabs-left'>
  <ul class='nav nav-tabs'>
    <li class='active'>
      <a href='#overview_tab', data-toggle="tab">Overview</a>
    </li>
    <li>
      <a href='#profile_tab', data-toggle='tab', remote: true>Client Profile</a>
    </li>
    <li>
      <a href='#goals_tab', data-toggle='tab', remote: true>Goals</a>
    </li>
    <li>
      <a href='#product_tab', data-toggle='tab', remote: true>Product Development</a>
    </li>
    <li>
      <a href='#marketing_tab', data-toggle='tab', remote: true>Marketing</a>
    </li>
    <li>
      <a href='#billing_tab', data-toggle='tab', remote: true>Billing</a>
    </li>
    <li>
      <a href='#test_clients_tab', data-toggle='tab', remote: true>Test Clients</a>
    </li>
    <li>
      <a href='#onboarding_tab', data-toggle='tab', remote: true>Client Onboarding</a>
    </li>
    <li>
      <a href='#servicing_tab', data-toggle='tab', remote: true>Client Servicing</a>
    </li>
    <li>
      <a href='#plan_tab', data-toggle='tab', remote: true>Sales Plan</a>
    </li>
    <li>
      <a href='#internal_training_tab', data-toggle='tab', remote: true>Internal Training</a>
    </li>
    <li>
      <a href='#client_training_tab', data-toggle='tab', remote: true>Client Training</a>
    </li>
    <li>
      <a href='#rollout_tab', data-toggle='tab', remote: true>Rollout Retrospective</a>
    </li>
  </ul>
  <%= simple_form_for((@project.with_blank_fields), html: { class: 'form-horizontal active-table-form' }) do |f| %>
  <div class='tab-content'>
      <div id='overview_tab', class='tab-pane active'>
        <%= f.simple_fields_for :overview do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='profile_tab', class='tab-pane'>
        <%= f.simple_fields_for :profile do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='goals_tab', class='tab-pane'>
        <%= f.simple_fields_for :goals do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='product_tab', class='tab-pane'>
        <%= f.simple_fields_for :product do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='marketing_tab', class='tab-pane'>
        <%= f.simple_fields_for :marketing do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='billing_tab', class='tab-pane'>
        <%= f.simple_fields_for :billing do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='test_clients_tab', class='tab-pane'>
        <%= f.simple_fields_for :test_clients do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='onboarding_tab', class='tab-pane'>
        <%= f.simple_fields_for :onboarding do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='servicing_tab', class='tab-pane'>
        <%= f.simple_fields_for :servicing do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='plan_tab', class='tab-pane'>
        <%= f.simple_fields_for :plan do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='internal_training_tab', class='tab-pane'>
        <%= f.simple_fields_for :internal_training do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='client_training_tab', class='tab-pane'>
        <%= f.simple_fields_for :client_training do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div id='rollout_tab', class='tab-pane'>
        <%= f.simple_fields_for :rollout do |nf| %>
          <%= render partial: 'shared/form', locals: { f: nf } %>
        <% end %>
    </div>
    <div class="form-actions">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
