<p>
  <b><%= @project.title %></b>
<% if can? :invite, @project %>
  |
  <%= link_to 'Change Name', project_change_name_path(@project) %>
  |
  <%= link_to 'Delete Project', @projects, method: :delete, data: { confirm: 'Are you sure?'} %>
  |
  <%= link_to 'Manage Collaborators', project_collaborations_path(@project) %>
  |
<% end %>
  <%= link_to 'Invite User', new_project_collaboration_path(@project) %>

<div class='tabbable tabs-left'>
  <ul class='nav nav-tabs'>
    <li class='active'>
      <a href='#overview_tab', data-toggle="tab">Overview</a>
    </li>
    <li>
      <a href='#profile_tab', data-toggle='tab', remote: true>Client Profile</a>
    </li>
    <li>
      <a href='#goals_tab', data-toggle='tab', remote: true>Goals</a>
    </li>
    <li>
      <a href='#product_tab', data-toggle='tab', remote: true>Product Development</a>
    </li>
    <li>
      <a href='#marketing_tab', data-toggle='tab', remote: true>Marketing</a>
    </li>
    <li>
      <a href='#billing_tab', data-toggle='tab', remote: true>Billing</a>
    </li>
    <li>
      <a href='#test_clients_tab', data-toggle='tab', remote: true>Test Clients</a>
    </li>
    <li>
      <a href='#onboarding_tab', data-toggle='tab', remote: true>Client Onboarding</a>
    </li>
    <li>
      <a href='#servicing_tab', data-toggle='tab', remote: true>Client Servicing</a>
    </li>
    <li>
      <a href='#plan_tab', data-toggle='tab', remote: true>Sales Plan</a>
    </li>
    <li>
      <a href='#internal_training_tab', data-toggle='tab', remote: true>Internal Training</a>
    </li>
    <li>
      <a href='#client_training_tab', data-toggle='tab', remote: true>Client Training</a>
    </li>
    <li>
      <a href='#rollout_tab', data-toggle='tab', remote: true>Rollout Retrospective</a>
    </li>
  </ul>
  <div class='tab-content'>
    <div id='overview_tab', class='tab-pane active'>
      <%= render partial: 'overview/show', locals: { project: @project } %>
    </div>
    <div id='profile_tab', class='tab-pane'>
      <%= render partial: 'profile/show', locals: { project: @project } %>
    </div>
    <div id='goals_tab', class='tab-pane'>
      <%= render partial: 'goals/show', locals: { project: @project } %>
    </div>
    <div id='product_tab', class='tab-pane'>
      <%= render partial: 'product/show', locals: { project: @project } %>
    </div>
    <div id='marketing_tab', class='tab-pane'>
      <%= render partial: 'marketing/show', locals: { project: @project } %>
    </div>
    <div id='billing_tab', class='tab-pane'>
      <%= render partial: 'billing/show', locals: { project: @project } %>
    </div>
    <div id='test_clients_tab', class='tab-pane'>
      <%= render partial: 'test_clients/show', locals: { project: @project } %>
    </div>
    <div id='onboarding_tab', class='tab-pane'>
      <%= render partial: 'onboarding/show', locals: { project: @project } %>
    </div>
    <div id='servicing_tab', class='tab-pane'>
      <%= render partial: 'servicing/show', locals: { project: @project } %>
    </div>
    <div id='plan_tab', class='tab-pane'>
      <%= render partial: 'plan/show', locals: { project: @project } %>
    </div>
    <div id='internal_training_tab', class='tab-pane'>
      <%= render partial: 'internal_training/show', locals: { project: @project } %>
    </div>
    <div id='client_training_tab', class='tab-pane'>
      <%= render partial: 'client_training/show', locals: { project: @project } %>
    </div>
    <div id='rollout_tab', class='tab-pane'>
      <%= render partial: 'rollout/show', locals: { project: @project } %>
    </div>
  </div>
</div>
