<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>

<div class='row'>
  <div class='span5'>
    <div id='pricing_container'>
      <h3 style='padding-left:5px'>Silver<div class='pull-right' style='padding-right:5px'>$24/month</div></h3>
    </div>
    <h5 align='center'>Manage an up to 3 projects</h5><br>
    <div id='pricing_container'>
      <h3 style='padding-left:5px'>Gold<div class='pull-right' style='padding-right:5px'>$49/month</div></h3>
    </div>
    <h5 align='center'>Manage up to 10 projects</h5><br>
    <div id='pricing_container'>
      <h3 style='padding-left:5px'>Platinum<div class='pull-right' style='padding-right:5px'>$99/month</div></h3>
    </div>
    <h5 align='center'>Manage an unlimited number of projects</h5><br>
  </div>   
  <div class='span5'>
    <div id='cc_form_container' style='margin-top:9px'>
      <%= simple_form_for [@user, @subscription], :html => { :class => 'form-horizontal card_form' } do |f| %>
        <% if @subscription.errors.any? %>
          <div class="error_messages">
            <h5><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h5>
            <ul>
            <% @subscription.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div id="stripe_error" class="alert alert-error" style="display:none" ></div>
        <br>
        <%= f.input :subscription_plan_id, collection: SubscriptionPlan.all, as: :radio_buttons, value_method: :id, label_method: lambda {|t| t.name.titleize}, label: "Choose Plan", item_wrapper_class: 'inline', checked: @subscription.subscription_plan_id || SubscriptionPlan.first.id %>
      
        <% if @subscription.stripe_customer_token.present? %>
          <%= f.input :update_stripe, as: :boolean, label: 'Change card', :input_html => { checked: false, class: '     different_card' } %>
        <% end %>
      
        <%= f.hidden_field :stripe_card_token %>
      
        <% if @subscription.stripe_card_token.present? %>
          Credit card has been provided.
        <% else %>
          <div class="card_fields">
            <div class="control-group">
              <%= label_tag :card_number, "Credit Card Number", class: "control-label" %>
              <div class="controls">
                <%= text_field_tag :card_number, nil, name: nil %>
                <% if @subscription.last_4_digits.present? %>
                  <span class="help-block">Currently using card ending with <%= @subscription.last_4_digits %>.</span>
                <% end %>
               </div>
            </div>
            <div class="control-group">
              <%= label_tag :card_code, "Card Security Code (CVV)", class: "control-label" %>
              <div class="controls">
                <%= text_field_tag :card_code, nil, name: nil %>
              </div>
            </div>
            <div class="control-group">
              <%= label_tag :card_month, "Card Expiration", class: "control-label" %>
              <div class="controls">
                <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", :class=>'span2'}%>
                <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year", :class=>'span1' }%>
              </div>
            </div>
          </div>
        <% end %>

    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser  settings.</noscript>
    </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "#{@subscription.status == 'active' ? 'Change Subscription' : 'Subscribe'}", class: 'btn btn-primary' %><br>
          <br>
          <% if @subscription.status == 'active' %>
            or
            <%= link_to 'cancel your subscription', [current_user, @subscription], method: :delete, data: {   confirm:   'Are you sure?'} %><br>
            <br>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div> 
</div>   
