<% unless @project.product.description == '#removed' %>
  <div>
    <p>Description</p>
    <p><%= @project.product.description %></p>
  </div>
  <br>
<% end %>

<% @project.product.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value%>
  </div>
  <br />
<% end %>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :id => 'edit_project_button', :class => 'btn btn-success' %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :product } %>
