<p>Connect your project to third party services and measure it's status in realtime</p>

<p>The services we support include</p>
<ul>
	<li>Jira</li>
	<li>MySQL</li>
	<li>PostreSQL</li>
	<li>Vertica</li>
	<li>Amazon S3</li>
	<li>Stripe</li>
</ul>

<% if @jira_data %>
  <strong>Jira Issues</strong>
  <div class="accordion" id="issues_accordion">
    <% @jira_data.issues.each_with_index do |issue, index| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#issues_accordion" href="#issue<%= "No#{index}" %>">
            <%= image_tag issue.priority.iconUrl%>
            <%= issue.summary %>
          </a>
        </div>
        <div id="issue<%= "No#{index}" %>" class="accordion-body collapse in">
          <div class="accordion-inner">
            <dl class="dl-horizontal">
              <dt>Type</dt>
              <dd>
                <%= image_tag issue.issuetype.iconUrl %>
                <%= issue.issuetype.description.present? ? issue.issuetype.name.concat(" (#{issue.issuetype.description})") : issue.issuetype.name %>
              </dd>
              <dt>Priority<dt>
              <dd>
                <%= image_tag issue.priority.iconUrl%>
                <%= issue.priority.name %>
              </dd>
              <dt>Status<dt>
              <dd>
                <%= image_tag issue.status.iconUrl %>
                <%= issue.status.name %>
              <dd>
              <% if issue.assignee.present? %>
                <dt>Assignee</dt>
                <dd>
                  <%= image_tag issue.assignee.avatarUrls["16x16"] %>
                  <%= issue.assignee.displayName %>
                </dd>
                <dt>Assignee Email</dt>
                <dd>
                  <%= issue.assignee.emailAddress %>
                </dd>
              <% end %>
              <dt>Reporter</dt>
              <dd>
                <%= image_tag issue.reporter.avatarUrls["16x16"] %>
                <%= issue.reporter.displayName %>
              </dd>
              <dt>Reporter Email</dt>
              <dd>
                <%= issue.reporter.emailAddress %>
              </dd>
              <dt>
                Description
              </dt>
              <dd>
                <%= issue.description %>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
