<div>
	<p>Internal Training Materials</p>
	<p><%= project.internal_training.individual_training_materials %></p>
</div>
<br />
<div>
	<p>Group Training Materials</p>
	<p><%= project.internal_training.group_training_materials %></p>
</div>
<br />
<div>
	<p>Training Materials</p>
	<%= project.internal_training.file_url %>
</div>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :internal_training } %>
