<%= simple_form_for [@project, @collaboration], html: { class: 'form-horizontal' } do |f| %>
  <div id='invite_form'>
  	<%= f.input :name, label:false, :wrapper => :prepend do %>
  		<span class="add-on"><i class="icon-user"></i></span><%= f.input_field :name, :required => true, :placeholder 		=> 'Colleague'  %>
  	<% end %>	
	
  	<%= f.input :email, label:false, :wrapper => :prepend do %>
  		<span class="add-on"><i class="icon-envelope"></i></span><%= f.input_field :email, :required => true, :placeholder => 'Email'  %>
  	<% end %>	
	
  	<div class="control-group">
  	  <div class="controls">
  	    <%= f.button :submit, "Invite Collaborator", :class => 'btn btn-success span2' %>
  	  </div>
  </div>
<% end %>