<% [:step_one, :step_two, :step_three, :step_four, :step_five].each do |field| %>
  <% unless @project.onboarding.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.onboarding.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.onboarding.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value%>
  </div>
  <br />
<% end %>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :id => 'edit_project_button', :class => 'btn btn-success' %>
<% end %><br>
<br>
<%= render partial: 'comments/form', locals: { project: @project, nested: :onboarding } %>
