<div>
  <p>Six Week Goals</p>
  <p><%= project.goal.six_week_goals %></p>
</div>
<br />
<div>
  <p>Three Month Goals</p>
  <p><%= project.goal.three_month_goals %></p>
</div>
<br />
<div>
  <p>Six Month Goals</p>
  <%= project.goal.six_month_goals %>
</div>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :goal } %>
