<% [:six_week_goals, :three_month_goals, :six_month_goals].each do |field| %>
  <% unless @project.goal.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.goal.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.goal.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value%>
  </div>
  <br />
<% end %>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :id => 'edit_project_button', :class => 'btn btn-success' %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :goal } %>
