<% [:company_training_materials, :user_training_materials].each do |field| %>
  <% unless @project.client_training.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.client_training.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.client_training.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value %>
  </div>
  <br />
<% end %>

<div>
  <p>Training Materials</p>
  <%= filepicker_save_button "Download", project.overview.file_url, "image/png" %></tr>
</div>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-success' %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :client_training } %>
