<div>
	<p>Attention</p>
	<p><%= project.plan.attention %></p>
</div>
<br />
<div>
	<p>Interest</p>
	<p><%= project.plan.interest %></p>
</div>
<br />
<div>
	<p>Desire</p>
	<p><%= project.plan.desire %></p>
</div>
<br />
<div>
	<p>Action</p>
	<p><%= project.plan.action %></p>
</div>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :plan } %>
