<% [:attention, :interest, :desire, :action].each do |field| %>
  <% unless @project.plan.send(field) == '#removed' %>
    <div>
      <p><%= field.to_s.titleize %></p>
      <p><%= @project.plan.send(field) %></p>
    </div>
    <br>
  <% end %>
<% end %>

<% @project.plan.data.try(:each) do |key, value| %>
  <div>
    <p><%= key.titleize %></p>
    <%= value %>
  </div>
  <br />
<% end %>

<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>

<%= render partial: 'comments/form', locals: { project: @project, nested: :plan } %>
