<div>
	<p>Ideal Client Profile</p>
	<p><%= project.profile.ideal_client %></p>
</div>
<br />
<div>
	<p>Percentage of Applicable Clients</p>
	<p><%= project.profile.applicable_client_percentage %></p>
</div>
<br />
<div>
	<p>Client Motivations</p>
	<p><%= project.profile.client_motivations %></p>
</div>
<br />
<div>
	<p>Target Budget</p>
	<p><%= project.profile.target_budget %></p>
</div>
<br />
<div>
	<p>Purchase Decision Maker</p>
	<p><%= project.profile.purchase_decision_maker %></p>
</div>
<br />
<div>
	<p>Product User Profile</p>
	<p><%= project.profile.product_user %></p>
</div>

