<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Learos" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learos" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= filepicker_js_include_tag %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <link href='http://fonts.googleapis.com/css?family=Gudea|Cherry+Swash' rel='stylesheet' type='text/css'>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span1"></div>
            <div class="span10">
              <%= render 'layouts/navigation' %>
            </div> 
            <div class="span1"></div> 
          </div>  
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <%- if current_page? root_path %>
        <div class="row">
          <div class="span1"></div>
          <div class="span10">
            <div id="top_header">
              <h2>Business Intelligence at the Project Level</h2>
              <%= link_to new_user_registration_path, :class => 'btn btn-large btn-success', :id => 'trial_button' do %>
                Start Your 30 Day FREE Trial <i class='icon-arrow-right icon-white'></i>
              <% end %> 
              <h4 style='color:gray'>See the impact of every feature release in real-time</h4>
              <br>
            </div>  
          </div>  
          <div class="span1"></div>  
        </div>
        <div id="home_hero">
          <div class="hero-unit">
            <div class='row'>  
              <div class="span1"></div>  
              <div class='span10'>
                <ul id='hero_list'>
                  <div href=""><i class="icon-ok icon-white" style="margin-top:10px;"></i> Create your release plan</div><br>
                  <div href=""><i class="icon-ok icon-white" style="margin-top:10px;"></i> Define your objectives</div><br>
                  <div href=""><i class="icon-ok icon-white" style="margin-top:10px;"></i> Track the feature impact</div><br>
                </ul>  
                <br>
              </div>
              <div class="span1"></div>  
            </div>      
          </div>
          <%= image_tag "macbook.png", :id => 'macbook' %>
        </div>  
      <% end %>
      <div class="container">
        <div class="content">
           <div class="row">
              <div class="span1"></div>
              <div class="span10">
                  <%= render 'layouts/messages' %>
                  <%= yield %>
              </div>
              <div class="span1"></div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  <%= yield :js %>
  </body>
</html>
